<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="apple-touch-icon" sizes="180x180" href="<%= BASE_URL %>assets/icons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="<%= BASE_URL %>assets/icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="<%= BASE_URL %>assets/icons/favicon-16x16.png">
  <link rel="manifest" href="<%= BASE_URL %>assets/icons/site.webmanifest">
  <link rel="mask-icon" href="<%= BASE_URL %>assets/icons/safari-pinned-tab.svg" color="#5bbad5">
  <link rel="shortcut icon" href="<%= BASE_URL %>assets/icons/favicon.ico">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="msapplication-config" content="<%= BASE_URL %>assets/icons/browserconfig.xml">
  <meta name="theme-color" content="#000000">
  <title>BEAUTR | Luxury Beauty Salon</title>
</head>

<body>
  <noscript>
    <strong>We're sorry but webp doesn't work properly without JavaScript enabled. Please enable it to
      continue.</strong>
  </noscript>
  <div id="app"></div>
  <!-- built files will be auto injected -->
</body>

</html>