<template>
  <div id="cardcontainer">
    <div class="wrapper flex justify-center items-start">
      <div class="bookings rounded shadow-lg ">
        <div
          class="stitle text-xl py-2 font-bold text-blue-500 border-blue-500 border-solid border-b flex justify-between items-center"
        >
          <div
            @click="gotoStage0"
            :style="{ opacity: stage }"
            class="service_prev service_nav ml-4 cursor-pointer"
          >
            ←
          </div>
          <div
            class="service_text mx-3"
            style="text-shadow: 0 0 15px rgba(0,100,255, 0.5)"
          >
            {{ this.bookingsType }}
          </div>
          <div
            class="service_next service_nav mr-4 font-light rounded text-black px-2 cursor-pointer"
            :class="[showdone ? 'bg-green-400' : 'bg-pink-400']"
            :style="{ opacity: 1 - stage }"
            title="show finished"
            @click="toggleShowCompleted"
          >
            ֍
          </div>
        </div>
        <transition name="fadestaff" mode="out-in">
          <div v-if="stage === 0" class="serv_container scrollbar">
            <transition-group name="books" tag="div">
              <div
                v-for="(b, i) in bookingsList"
                :key="b.booking_id"
                :class="{
                  dbg: i % 2,
                  bcompleted: b.completed && b.feedback === 0,
                  brated: b.completed && b.feedback !== 0
                }"
                @click="selectBooking(i)"
                class="service booki px-3 lg:px-12 py-4 w-full flex justify-between bg-gray-900 items-center"
              >
                <div class="servicename mr-4 font-bold text-left">
                  <span class="text-indigo-500">
                    {{ usertype === "staff" ? b.customer_name : b.staff_name }}
                  </span>
                  -
                  {{ b.service_name }}
                </div>
                <!-- <div class="servicename mr-4 font-bold"></div> -->
                <div class="serviceprice ml-4">
                  {{ date_r(b.starting_time) }}
                </div>
              </div>
            </transition-group>
          </div>
          <div v-if="stage === 1" :key="stage">
            <div class="w-full booking_one flex flex-col dbg items-center">
              <div class="b_name font-extrabold text-xl text-gray-400">
                {{ currBooking.service_name }}
              </div>
              <div class="b_othername font-extrabold text-green-500">
                <div class="b_info text-indigo-500">
                  {{ this.othertype }}
                </div>
                <div class="b_content text-indigo-500 text-gray-800 px-3 py-1">
                  {{ currBooking[`${this.othertype}_name`] }}
                </div>
              </div>
              <div class="b_price ">
                <div class="b_info text-sm text-gray-500">
                  {{ this.usertype === "customer" ? "to pay" : "to recieve" }} :
                  {{ currBooking.price }}
                </div>
              </div>
              <div class="b_start_time text-gray-200">
                <div class="b_info text-teal-400">
                  appointment time
                </div>
                <div
                  class="b_content bg-teal-400 text-gray-800 rounded-lg px-3 py-1"
                >
                  {{ date_r(currBooking.starting_time) }}
                </div>
              </div>
              <div class="b_book_time ">
                <div class="b_info text-sm text-gray-500">
                  booked at
                </div>
                <div
                  class="b_content bg-gray-800 text-gray-500 text-xs rounded-lg px-3 py-1"
                >
                  {{ date_r(currBooking.booked_on) }}
                </div>
              </div>
              <div class="b_status text-yellow-500">
                <!-- <div class="b_info text-yellow-400">
                status
              </div> -->
                <div
                  class="b_content text-yellow-300 px-3 rounded-full"
                  style="text-shadow: 0 0 10px rgba(250, 240, 137, 0.5)"
                >
                  {{
                    currBooking.completed === false ? "Pending" : "Completed"
                  }}
                </div>
                <!-- // show only for customers when booking is complete -->
                <vue-stars
                  v-if="currBooking.completed === true"
                  active-color="#ffdd00"
                  inactive-color="#999999"
                  shadow-color="#ffff00"
                  hover-color="#fff45c"
                  :readonly="usertype === 'staff'"
                  char="😀"
                  inactive-char="★"
                  class="rating"
                  @input="markRating(currBooking.booking_id)"
                  v-model="currBooking.feedback"
                ></vue-stars>
                <div
                  v-promise-btn
                  v-if="usertype === 'staff' && currBooking.completed === false"
                  @click="markComplete(currBooking.booking_id)"
                  class="mark_complete bg-green-400 text-gray-900 px-3 py-1 font-bold mt-2 cursor-pointer hover:bg-green-500 shadow"
                >
                  Mark complete
                  <!-- {{
                    currBooking.completed === "0" ? "complete" : "incomplete"
                  }} -->
                </div>
              </div>
            </div>
          </div>
        </transition>
      </div>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import { VueStars } from "vue-stars";

function timesorter(a, b) {
  return parseFloat(a.starting_time) - parseFloat(b.starting_time);
}
export default {
  name: "bookings",
  components: {
    VueStars
  },
  data: () => ({
    currBooking: {},
    bookings: [],
    stage: 0,
    showdone: false
  }),
  computed: {
    bookingsType() {
      const utype = this.usertype;
      return utype === "staff" ? "Appointments" : "Bookings";
    },
    usertype() {
      return this.$store.getters.loggedIn;
    },
    othertype() {
      const utype = this.usertype;
      return utype === "staff" ? "customer" : "staff";
    },
    bookingsList() {
      const list = this.showdone
        ? this.bookings
        : this.bookings.filter(b => b.completed === false);
      return list.slice().sort(timesorter);
    }
  },
  methods: {
    date_r(d) {
      const date = new Date(d * 1000);
      return date.toLocaleDateString() + " - " + date.toLocaleTimeString();
    },
    gotoStage0() {
      this.stage = 0;
      this.currBooking = {};
    },
    selectBooking(bindex) {
      this.currBooking = this.bookingsList[bindex];
      this.stage = 1;
    },
    toggleShowCompleted() {
      this.showdone = !this.showdone;
    },
    markRating(bid) {
      const r = this.bookings.filter(b => b.booking_id === bid)[0];
      const payload = {
        booking_id: bid,
        feedback: r.feedback
      };
      return this.$store
        .dispatch("rateBooking", payload)
        .then(() => {
          console.log("Rating successful");
        })
        .catch(() => {
          console.log("Rating failed");
          r.feedback = 0;
        });
    },
    markComplete(bid) {
      console.log(bid);
      const r = this.bookings.filter(b => b.booking_id === bid)[0];
      const payload = {
        booking_id: bid,
        completed: true
      };
      return this.$store.dispatch("markComplete", payload).then(() => {
        r.completed = true;
        console.log(r);
      });
    }
  },
  mounted() {
    this.$store
      .dispatch("getBookings")
      .then(({ data }) => {
        console.log(data);
        this.bookings = data;
        console.log("Loaded bookings");
      })
      .catch(() => {
        console.log("Error loading bookings");
      });
  }
};
</script>

<style lang="scss" scoped>
.wrapper {
  margin-top: 10vh;
}
.stitle {
  background: #161b25;
}
.dbg {
  background-color: #161b25;
}
.service {
  color: rgb(136, 144, 163);
  min-width: 60vw;
  display: flex;
  cursor: pointer;
  transition: background-color 200ms;
  > div {
    padding: 0 10px;
  }
  &:hover {
    background-color: #202a3f;
  }
  .servicename {
    text-transform: capitalize;
  }
}
.serv_container {
  max-height: 350px;
  overflow-y: scroll;
  position: relative;
}
.service_nav {
  transition: all 300ms ease-out;
}
.booking_one {
  padding: 20px 0;
  .b_name {
    text-transform: capitalize;
  }
  .b_othername {
    text-transform: capitalize;
  }
  > div {
    margin: 5px 40px;
  }
}

.booki {
  border-left: 3px solid;
  border-color: rgb(255, 206, 73);
  transition: all 400ms;
}
.bcompleted {
  border-left-color: rgb(255, 54, 98);
}
.brated {
  border-left-color: rgb(73, 255, 134);
}
// .books-move {
//   transition: all 2s;
// }
.books-enter {
  opacity: 0;
  transform: translateX(-100px);
}
.books-leave-to {
  opacity: 0;
  transform: translateX(100px);
}

.books-leave-active {
  position: absolute;
}
.rating {
  font-size: 1.3em;
}
</style>
