<template>
  <div class="flex items-center flex-col md:flex-row" style="height: 80vh">
    <UserProfileCard class="flex-1 md:mx-6" />
    <ServiceBox
      v-if="usertype === 'customer'"
      class="flex-1 md:mx-12 lg:mx-24"
    />
    <StaffCard
      v-if="usertype === 'staff' && userrole === 'staff'"
      class="flex-1 md:mx-12 lg:mx-24"
    ></StaffCard>
    <AdminCard
      v-if="usertype === 'staff' && userrole === 'admin'"
      class="flex-1 md:mx-12 lg:mx-24"
    ></AdminCard>
  </div>
</template>

<script>
// @ is an alias to /src
import UserProfileCard from "@/components/UserProfileCard";
import ServiceBox from "@/components/ServiceBox";
import StaffCard from "@/components/StaffCard";
import AdminCard from "@/components/AdminCard";
export default {
  name: "dashboard",
  components: {
    UserProfileCard,
    ServiceBox,
    StaffCard,
    AdminCard
  },
  computed: {
    usertype() {
      return this.$store.getters.loggedIn;
    },
    userrole() {
      return this.$store.state.user.role;
    }
  },
  data: () => ({})
};
</script>

<style lang="scss" scoped></style>
