<template>
  <div class="home flex justify-around items-center" style="height: 80vh">
    <div class="hero hidden lg:block p-20">
      <img
        class="w-2/3 mx-auto ml-10"
        src="../assets/hero.svg"
        alt="hero image"
        srcset=""
      />
    </div>
    <div class="w-full max-w-xs lg:mr-20">
      <form id="login" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
        <transition name="fadestaff" mode="out-in">
          <h1 :key="staffmode" class="text-blue-800 font-bold text-3xl py-3">
            {{ staffmode ? "Staff Login" : "Login" }}
          </h1>
        </transition>
        <div class="mb-4">
          <label
            class="block text-gray-700 text-sm font-bold mb-2"
            for="username"
          >
            Email
          </label>
          <input
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            id="email"
            type="text"
            placeholder="Email"
            v-model="email"
          />
        </div>
        <div class="mb-0">
          <label
            class="block text-gray-700 text-sm font-bold mb-2"
            for="password"
          >
            Password
          </label>
          <input
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-2 leading-tight focus:outline-none focus:shadow-outline"
            id="password"
            type="password"
            placeholder="******************"
            v-model="password"
          />
        </div>
        <div class="staffcheck mb-3 flex items-center px-2">
          <input class="mr-2" v-model="staffmode" type="checkbox" />
          login as staff
        </div>
        <div class="flex items-center justify-center">
          <button
            v-promise-btn
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 mb-3 rounded focus:outline-none focus:shadow-outline"
            type="submit"
            @click.prevent="LOGIN"
          >
            Sign In
          </button>
        </div>
        <router-link class="text-blue-600 text-sm" to="/register"
          >New user? Sign Up</router-link
        >
      </form>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
export default {
  name: "home",
  components: {},
  data: () => ({
    staffmode: false,
    email: "",
    password: ""
  }),
  mounted() {
    const loggedIn = localStorage.getItem("loggedIn");
    if (loggedIn && loggedIn !== "false") {
      console.log("Already logged in. redirecting...");
      this.$store.commit("SETLOGGEDIN", loggedIn);
      this.$router.push("/dashboard");
    }
  },
  methods: {
    LOGIN() {
      const payload = {
        email: this.email,
        password: this.password,
        type: this.staffmode ? "staff" : "customer"
      };
      if (!payload.email || !payload.password) {
        console.log("Empty values");
      } else {
        return this.$store.dispatch("LOGIN", payload).then(() => {
          this.$router.push("/dashboard");
        });
      }
    }
  }
};
</script>

<style lang="scss" scoped>
select {
  font-size: 1em;
}
</style>
