<template>
  <div
    class="container flex justify-center items-center"
    style="min-height: 87vh"
  >
    <div
      class="bg-white shadow-md rounded px-8 pt-4 pb-5 flex flex-col my-2 absolute"
    >
      <h1 class="block mb-2 text-2xl font-bold">Register</h1>
      <hr class="mb-2" />
      <div class="-mx-3 md:flex mb-3">
        <div class="md:w-1/2 px-3 mb-2 md:mb-0">
          <label
            class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-1"
            for="grid-first-name"
          >
            First Name
          </label>
          <input
            class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-red rounded py-2 px-4 mb-1"
            type="text"
            placeholder="Jane"
            v-model="firstname"
          />
          <!-- <p class="text-red text-xs italic">Please fill out this field.</p> -->
        </div>
        <div class="md:w-1/2 px-3">
          <label
            class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-1"
            for="grid-first-name"
          >
            Last Name
          </label>
          <input
            class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-2 px-4"
            type="text"
            placeholder="Doe"
            v-model="lastname"
          />
        </div>
      </div>
      <div class="-mx-3 md:flex mb-2">
        <div class="md:w-full px-3">
          <label
            class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-1"
            for="grid-email"
          >
            Email
          </label>
          <input
            class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-2 px-4 mb-1"
            type="email"
            placeholder="someone@example.com"
            v-model="email"
          />
          <!-- <p class="text-grey-dark text-xs italic">
            Make it as long and as crazy as you'd like
          </p> -->
        </div>
        <div class="md:w-full px-3">
          <label
            class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-1"
            for="grid-password"
          >
            Password
          </label>
          <input
            class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-2 px-4 mb-1"
            type="password"
            placeholder="******************"
            v-model="password"
          />
          <!-- <p class="text-grey-dark text-xs italic">
            Make it as long and as crazy as you'd like
          </p> -->
        </div>
      </div>
      <div class="-mx-3 md:flex mb-1">
        <div
          class="md:w-1/2 px-3 flex justify-between items-center md:block mb-1"
        >
          <label
            class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-1"
            for="grid-age"
          >
            Age
          </label>
          <input
            class="appearance-none block bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-2 px-4"
            type="number"
            placeholder="Age"
            min="10"
            max="90"
            v-model="age"
          />
        </div>
        <div
          class="md:w-1/2 px-3 flex justify-between items-center md:block mb-1"
        >
          <label
            class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-1 pr-6"
            for="grid-gender"
          >
            Gender
          </label>
          <div class="relative">
            <select
              class="block appearance-none w-full bg-grey-lighter border border-grey-lighter text-grey-darker py-2 px-4 pr-8 rounded"
              id="grid-gender"
              v-model="gender"
            >
              <option value="m">Male</option>
              <option value="f">Female</option>
            </select>
          </div>
        </div>
        <div class="md:w-1/2 px-3 flex justify-between items-center md:block">
          <label
            class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-1 pr-6"
            for="grid-phone_no"
          >
            Phone
          </label>
          <input
            class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-2 px-4"
            type="text"
            placeholder="9999999999"
            v-model="phone_no"
          />
        </div>
      </div>
      <button
        v-promise-btn
        class="appearance-none cursor-pointer rounded block w-full bg-blue-500 text-gray-300 py-2 px-4 mb-3 md:mt-6"
        type="submit"
        @click.prevent="SIGNUP"
      >
        Register
      </button>
      <router-link class="text-blue-600 text-sm block" to="/"
        >Already Registered? Login</router-link
      >
    </div>
  </div>
</template>

<script>
// @ is an alias to /src

export default {
  name: "home",
  components: {},
  data: () => ({
    firstname: "",
    lastname: "",
    email: "",
    password: "",
    age: "",
    gender: "m",
    phone_no: ""
  }),
  methods: {
    SIGNUP() {
      const payload = {
        email: this.email,
        password: this.password,
        firstname: this.firstname,
        lastname: this.lastname,
        age: parseInt(this.age),
        gender: this.gender,
        phone_no: this.phone_no
      };
      if (!payload.email || !payload.password) {
        console.log("Empty values");
      } else {
        return this.$store.dispatch("SIGNUP", payload).then(() => {
          this.$router.push("/");
        });
      }
    }
  }
};
</script>

<style lang="scss" scoped></style>
