<template>
  <div id="cardcontainer">
    <div class="rounded overflow-hidden shadow-lg mx-auto my-6 md:mt-0">
      <div
        class="stitle text-3xl py-2 font-bold text-blue-500 border-blue-500 border-solid border-b flex justify-between"
      >
        <div
          @click="gotoStage0"
          :style="{ opacity: stage }"
          class="service_prev ml-4 cursor-pointer"
        >
          ←
        </div>
        <div
          class="service_text mx-6"
          style="text-shadow: 0 0 15px rgba(0,100,255, 0.5)"
        >
          {{ control_stage }} Controls
        </div>
        <div style="opacity: 0" class="service_next mr-4">→</div>
      </div>
      <transition name="fadestaff" mode="out-in">
        <div v-if="stage === 0" :key="stage">
          <div class="w-full service_one flex flex-col dbg items-center">
            <div class="s_name font-extrabold text-xl text-gray-400">
              ID: {{ user.role }} - {{ user.staff_id }}
            </div>
            <div class="s_desc text-yellow-500 mb-2">
              Started on: {{ date_r(user.started_on) }}
            </div>

            <div class="controls w-full pt-3 flex justify-around flex-wrap">
              <div
                @click="switchControlStage('Staff')"
                class="manage_staff flex-1 bg-indigo-500 hover:bg-indigo-600 font-bold cursor-pointer text-gray-900 mx-4 py-2"
              >
                Manage Staffs
              </div>
              <div
                @click="switchControlStage('Service')"
                class="manage_service flex-1 bg-teal-500 hover:bg-teal-600 font-bold cursor-pointer text-gray-900 mx-4 px-1 py-2"
              >
                Manage Services
              </div>
            </div>
          </div>
        </div>

        <div v-if="stage === 1" :key="stage">
          <div class="topbar w-full dbg flex justify-center pt-2">
            <div
              @click="createStuff()"
              class="createbtn bg-yellow-400 px-4 py-2 px-12 text-gray-800 font-bold cursor-pointer"
            >
              Create {{ control_stage }}
            </div>
          </div>
          <div
            class="w-full scrollbar service_one height_limit flex flex-col dbg items-center"
          >
            <div
              v-for="(s, i) in controlIterator"
              :key="s.service_id || s.staff_id"
              :class="{ dbg: i % 2 }"
              @click="showEntity(s.service_id || s.staff_id)"
              class="service w-full flex justify-between bg-gray-900 items-center"
            >
              <div class="servicename flex-1">
                <span class="pr-2">▶ </span> {{ s.name }}
              </div>
              <button
                v-promise-btn
                @click.stop="deleteEntity(s)"
                class="delbtn block mr-2 mt-1 p-1 bg-red-300 hover:bg-red-400 text-gray-800"
              >
                x
              </button>
            </div>
          </div>
        </div>
        <div v-if="stage === 2" :key="stage">
          <div class="w-full service_one flex flex-col dbg items-center">
            <!-- {{ selectedEntity }} -->
            <div class="w-full editing_title flex justify-around items-center">
              <div
                class="editing_title text-lg font-bold uppercase text-white border-b-4 border-purple-500"
              >
                {{ action3 }} {{ control_stage }}
              </div>
              <div
                @click="toggleEditable"
                v-if="action3 === 'Update'"
                :class="[!uneditable ? 'bg-green-400' : 'bg-pink-400']"
                class="enable_edit inline cursor-pointer text-gray-800 px-2 rounded flex items-center"
              >
                <div class="editLable pr-1 inline">
                  edit
                </div>
                <input type="checkbox" v-model="editable" />
              </div>
            </div>

            <div
              v-if="control_stage === 'Staff'"
              class="edit_staff w-full px-4"
            >
              <form class="flex edit_form flex-col">
                <div class="form_field">
                  <label>Name</label>
                  <input
                    required
                    :disabled="uneditable"
                    v-model="selectedEntity.name"
                    type="text"
                    class="esname"
                  />
                </div>
                <div class="form_field">
                  <label>Email</label>
                  <input
                    required
                    :disabled="uneditable"
                    v-model="selectedEntity.email"
                    type="text"
                    class="esname"
                  />
                </div>
                <div v-if="this.action3 === 'Create'" class="form_field">
                  <label>Password</label>
                  <input
                    required
                    :disabled="uneditable"
                    v-model="selectedEntity.password"
                    type="password"
                    class="esname"
                  />
                </div>
                <div class="form_field">
                  <label>Salary</label>
                  <input
                    required
                    :disabled="uneditable"
                    v-model="selectedEntity.salary"
                    type="number"
                    class="esname"
                  />
                </div>
                <div class="form_field">
                  <label>Age</label>
                  <input
                    required
                    :disabled="uneditable"
                    v-model="selectedEntity.age"
                    type="number"
                    class="esname"
                  />
                </div>
                <div class="form_field">
                  <label>Gender</label>
                  <select
                    required
                    :disabled="uneditable"
                    class="esname"
                    v-model="selectedEntity.gender"
                  >
                    <option value="m">Male</option>
                    <option value="f">Female</option>
                  </select>
                </div>
                <div class="form_field">
                  <label>Phone</label>
                  <input
                    required
                    :disabled="uneditable"
                    v-model="selectedEntity.phone_no"
                    type="tel"
                    class="esname"
                  />
                </div>
                <div class="form_field">
                  <label>Role</label>
                  <select
                    required
                    v-if="this.action3 === 'Create'"
                    :disabled="uneditable"
                    class="esname"
                    v-model="selectedEntity.role"
                  >
                    <option value="staff">Staff</option>
                    <option value="admin">Admin</option>
                  </select>
                  <div
                    v-if="this.action3 === 'Update'"
                    class="esname role_field"
                  >
                    {{ selectedEntity.role }}
                  </div>
                </div>
                <button
                  v-promise-btn
                  class="updateBtn"
                  @click.prevent="actionStaff()"
                  :disabled="uneditable"
                >
                  {{ action3 }}
                </button>
              </form>
            </div>

            <div
              v-if="control_stage === 'Service'"
              class="edit_staff w-full px-4"
            >
              <form class="flex edit_form flex-col">
                <div class="form_field">
                  <label>Name</label>
                  <input
                    :disabled="uneditable"
                    v-model="selectedEntity.name"
                    type="text"
                    class="esname"
                  />
                </div>
                <div class="form_field">
                  <label>Description</label>
                  <textarea
                    :disabled="uneditable"
                    v-model="selectedEntity.description"
                    type="text"
                    class="esname"
                    style="min-width: 11em"
                  />
                </div>
                <div class="form_field">
                  <label>Price</label>
                  <input
                    :disabled="uneditable"
                    v-model="selectedEntity.price"
                    type="number"
                    class="esname"
                  />
                </div>
                <div class="form_field">
                  <label>Time Req</label>
                  <input
                    :disabled="uneditable"
                    v-model="selectedEntity.time_req"
                    type="number"
                    class="esname"
                  />
                </div>
                <button
                  v-promise-btn
                  class="updateBtn"
                  @click.prevent="actionService()"
                  :disabled="uneditable"
                >
                  {{ action3 }}
                </button>
              </form>
            </div>
          </div>
        </div>
      </transition>
    </div>
  </div>
</template>

<script>
// import { mapState } from "vuex";
export default {
  name: "admin-card",
  methods: {
    gotoStage0(s = -1) {
      if (s >= 0) this.stage = s;
      else if (this.stage > 0) this.stage = this.stage -= 1;
      this.selectedId = "";
      this.uneditable = true;
      if (this.stage === 0) {
        this.control_stage = "Admin";
      }
    },
    date_r(d) {
      const date = new Date(d * 1000);
      return date.toLocaleDateString();
    },
    switchControlStage(s) {
      const action = s === "Service" ? "getAllService" : "getAllStaffs";
      const entityvar = s === "Service" ? "services" : "staffs";
      this.control_stage = s;
      return this.$store
        .dispatch(action)
        .then(({ data }) => {
          this[entityvar] = data;
          console.log("Loaded all " + this.control_stage);
          this.control_stage = s;
          this.stage = 1;
        })
        .catch(() => {
          console.log("Error loading " + this.control_stage);
        });
    },
    deleteEntity(s) {
      const entity = this.control_stage === "Service" ? "service" : "staff";
      const entities = this[entity + "s"];
      const index = entities.indexOf(s);
      const id = s.service_id | s.staff_id;
      return this.$store
        .dispatch("deleteEntity", { entity, id })
        .then(() => {
          entities.splice(index, 1);
          console.log(`Deleted ${entity}`);
        })
        .catch(() => {
          console.log("Error loading staffs");
        });
    },
    showEntity(id) {
      this.selectedId = id;
      this.action3 = "Update";
      this.stage = 2;
    },
    toggleEditable() {
      this.uneditable = !this.uneditable;
    },
    actionService() {
      console.log(this.selectedEntity);
      console.log("Updating service...");
      const action =
        this.action3 === "Create" ? "createService" : "updateService";
      return this.$store
        .dispatch(action, this.selectedEntity)
        .then(() => {
          console.log("finished " + action);
          if (this.action3 === "Create") {
            this.services.push(this.selectedEntity);
            this.gotoStage0(0);
          }
        })
        .catch(() => {
          console.log("error");
        });
    },
    actionStaff() {
      console.log(this.selectedEntity);
      console.log("Updating service...");
      const action = this.action3 === "Create" ? "createStaff" : "updateStaff";
      return this.$store
        .dispatch(action, this.selectedEntity)
        .then(() => {
          console.log("finished " + action);
          if (this.action3 === "Create") {
            this.staffs.push(this.selectedEntity);
            this.gotoStage0(0);
          }
        })
        .catch(() => {
          console.log("error");
        });
    },
    createStuff() {
      this.selectedId = -1;
      this.action3 = "Create";
      this.uneditable = false;
      this.stage = 2;
    }
  },
  components: {},
  data: () => ({
    stage: 0,
    control_stage: "Admin",
    services: [],
    staffs: [],
    selectedId: "",
    uneditable: true,
    action3: "Update"
  }),
  // computed: mapState(["services", "currService"]),
  computed: {
    editable() {
      return !this.uneditable;
    },
    user() {
      return {
        ...this.$store.state.user
      };
    },
    controlIterator() {
      return this.control_stage === "Staff" ? this.staffs : this.services;
    },
    selectedEntity() {
      const id = this.selectedId;
      if (this.control_stage === "Staff") {
        if (id === -1) {
          return {
            name: "",
            email: "",
            gender: "m",
            salary: "",
            age: "",
            phone_no: "",
            started_on: Date.now(),
            role: "staff"
          };
        }
        return this.staffs.filter(s => s.staff_id === id)[0];
      } else if (this.control_stage === "Service") {
        if (id === -1) {
          return {
            name: "",
            description: "",
            price: "",
            time_req: ""
          };
        }
        return this.services.filter(s => s.service_id === id)[0];
      } else {
        return {};
      }
    }
  },
  mounted() {}
};
</script>

<style lang="scss" scoped>
.controls {
  border-top: 2px solid #273042;
}
.service_text {
  font-size: 1em;
}
.service {
  padding: 5px 0;
}
.height_limit {
  max-height: 250px;
  overflow-y: scroll;
}
.form_field {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.delbtn {
  transition: background-color 100ms;
  box-shadow: inset 0 0 10px #df3333;
}
.edit_form {
  margin-top: 20px;
  .form_field {
    margin: 2px 0;
    label {
      font-weight: 600;
      color: #57a5ff;
    }
    input,
    div,
    textarea,
    select {
      width: 70%;
      padding: 1px 3px;
      color: #0d2962;
      border-radius: 0.1em;
      transition: background-color 200ms, color 200ms;
      &:disabled {
        background-color: #161b25;
        color: #fff;
      }
    }
    .role_field {
      color: #fff;
      text-align: left;
      text-transform: capitalize;
    }
  }
}

.updateBtn {
  background-color: #67caa4;
  color: #273042;
  font-weight: 800;
  margin-top: 10px;
  padding: 5px 0;
  transition: background-color 200ms, color 200ms;
  &:disabled {
    background: #f5f5f5;
    cursor: not-allowed;
  }
}
</style>
