<template>
  <div id="cardcontainer">
    <div class="rounded overflow-hidden shadow-lg mx-auto my-6 md:mt-0">
      <div
        class="stitle text-3xl py-2 font-bold text-blue-500 border-blue-500 border-solid border-b flex justify-between"
      >
        <div
          @click="gotoStage0"
          :style="{ opacity: stage }"
          class="service_prev ml-4 cursor-pointer"
        >
          ←
        </div>
        <div
          class="service_text mx-6"
          style="text-shadow: 0 0 15px rgba(0,100,255, 0.5)"
        >
          Book Services
        </div>
        <div style="opacity: 0" class="service_next mr-4">→</div>
      </div>
      <transition name="fadestaff" mode="out-in">
        <div v-if="stage === 0" :key="stage" class="serv_container scrollbar">
          <div
            v-for="s in services"
            :key="s.service_id"
            :class="{ dbg: s.service_id % 2 }"
            @click="selectService(s.service_id)"
            class="service w-full flex justify-between bg-gray-900 items-center"
          >
            <div class="servicename flex-1 font-bold text-gray-400">
              <span class="pr-2">▶</span>{{ s.name }}
            </div>
            <div class="serviceprice flex-1">₹ {{ s.price }}</div>
            <div class="servicetime flex-1">
              {{ (s.time_req / 60).toFixed(1) }} minutes
            </div>
          </div>
          <div class="h-0">
            <Datetime
              type="datetime"
              ref="dateref"
              input-class="dateinput"
              :format="{
                year: 'numeric',
                month: 'long',
                day: 'numeric',
                hour: 'numeric',
                minute: '2-digit',
                timeZoneName: 'short'
              }"
              title="Select Booking Time"
              :minute-step="5"
              :min-datetime="minDatetime"
              :max-datetime="maxDatetime"
              use12-hour
              auto
              active
              v-model="date"
              @close="proceedDate"
            ></Datetime>
          </div>
        </div>
        <div v-if="stage === 1" :key="stage">
          <div class="w-full service_one flex flex-col dbg items-center">
            <div class="s_name font-extrabold text-xl text-gray-400">
              {{ currService.name }}
            </div>
            <div class="s_price font-extrabold text-green-500">
              ₹ {{ currService.price }}
            </div>
            <div class="s_desc mx-3 text-gray-200">
              {{ currService.description }}
            </div>
            <div class="s_time_req text-yellow-500">
              {{ currService.time_req / 60 }} minutes
            </div>
            <div
              class="staff_header  w-full pt-2 text-blue-600 font-bold py-1 px-4 flex justify-between items-center cursor-pointer"
            >
              <div class="staff_name flex items-center ml-3">
                <div class="mr-3"></div>
                Staff
              </div>
              <div class="staff_ex">
                Exp
              </div>
            </div>
            <div class="staffs scrollbar w-full">
              <div
                v-for="s in currService.experiences"
                :key="s.staff_id"
                class="staff py-2 px-4 flex justify-between items-center cursor-pointer"
                :class="{ 'bg-gray-900': !(s.staff_id % 2) }"
                @click="makeBooking(s)"
              >
                <div class="staff_name flex items-center">
                  <div
                    class="staff_avail mr-3"
                    :class="{ staff_avail_true: s.available }"
                  ></div>
                  {{ s.name }}
                </div>
                <div class="staff_ex">
                  {{ s.experience }}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div v-if="stage === 2" :key="stage">
          <div
            class="w-full py-4 service_booked flex flex-col justify-center dbg items-center"
            style="min-height: 200px"
            @click="stage = 0"
          >
            <img
              style="width: 75px; color: #fff"
              src="../assets/checkbox.svg"
              alt="checkbox"
              class="pt-2"
            />
            <div
              style="color: #58CE9D"
              class="booked_msg s_name font-extrabold text-xl mt-4 text-gray-400"
            >
              Booking Complete
            </div>
            <div
              @click="gotoStage0"
              class="book_another bg-gray-900 py-2 px-6 text-gray-300 rounded cursor-pointer mt-4"
            >
              Book Another
            </div>
          </div>
        </div>
      </transition>
    </div>
  </div>
</template>

<script>
import { Datetime } from "vue-datetime";
import "vue-datetime/dist/vue-datetime.css";
// import { mapState } from "vuex";
export default {
  name: "service-box",
  methods: {
    selectService(sid) {
      this.serviceId = sid;
      this.$refs.dateref.isOpen = true;
    },
    gotoStage0() {
      this.stage = 0;
      this.date = "";
      this.serviceId = "";
    },
    proceedDate() {
      if (this.date) {
        this.stage = 1;
        // get staff available
        this.$store
          .dispatch("getOneService", {
            id: this.serviceId,
            time: this.unixTime
          })
          .then(({ data }) => {
            console.log("Loaded service");
            this.currService = data;
          })
          .catch(e => {
            console.log("Error loading service");
            console.log(e.message);
          });
      }
    },
    makeBooking(s) {
      let staffId = s.staff_id;
      if (s.available === false) {
        return this.$store.commit("SETREQERR", {
          response: { data: { response: { message: "Staff unavailable" } } }
        });
      }
      if (this.date && this.serviceId && staffId) {
        const bookPayload = {
          customer_id: this.$store.state.user.customer_id,
          staff_id: staffId,
          service_id: this.serviceId,
          starting_time: this.unixTime
        };
        // get staff available
        this.$store
          .dispatch("makeBooking", bookPayload)
          .then(({ data }) => {
            console.log("Bookking Successful");
            this.stage = 2;
            this.booking = data;
          })
          .catch(e => {
            console.log("Error loading service");
            console.log(e.message);
          });
      }
    }
  },
  components: {
    Datetime
  },
  data: () => ({
    services: [],
    currService: {},
    serviceId: "",
    stage: 0,
    date: "",
    booking: {},
    minDatetime: new Date(Date.now() + 60000 * 5).toISOString(),
    maxDatetime: new Date(Date.now() + 604800000).toISOString()
  }),
  // computed: mapState(["services", "currService"]),
  computed: {
    unixTime() {
      return new Date(this.date).getTime() / 1000;
    }
  },
  mounted() {
    this.$store
      .dispatch("getAllService")
      .then(({ data }) => {
        this.services = data;
        console.log("Loaded all services");
      })
      .catch(() => {
        console.log("Error loading services");
      });
  }
};
</script>

<style lang="scss">
.stitle {
  background: #161b25;
}
.serv_container {
  max-height: 250px;
  overflow-y: scroll;
}
.servicename {
  text-transform: capitalize;
  text-align: left;
}
.servicetime {
  text-align: right;
}
.dateinput {
  margin: 0;
  padding: 0;
  transform: scale(0);
  position: absolute;
}
.service {
  color: rgb(136, 144, 163);
  min-width: 300px;
  display: flex;
  // margin: 10px 0;
  // padding: 3px 5px;
  padding: 13px 5px;
  cursor: pointer;
  transition: background-color 200ms;
  > div,
  button {
    padding: 0 10px;
  }
  &:hover {
    background-color: #202a3f;
  }
}
.service_one {
  color: rgb(136, 144, 163);
  padding: 13px 0;
  .s_name {
    text-transform: capitalize;
  }
  .staff_header {
    border-top: 2px solid #273042;
  }
  .staffs {
    max-height: 150px;
    overflow-y: scroll;
    position: relative;
  }
  .staff {
    transition: background-color 200ms;
    .staff_avail {
      border-radius: 50%;
      background-color: rgb(206, 88, 88);
      height: 10px;
      width: 10px;
    }
    .staff_avail_true {
      background-color: rgb(88, 206, 157);
    }
    &:hover {
      background-color: #202a3f;
    }
  }
}
.scrollbar {
  overflow-x: hidden;
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #161b25;
  }
  &::-webkit-scrollbar {
    width: 6px;
    background-color: #252b3d;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #3182ce;
  }
}
.book_another {
  transition: background-color 200ms;
  &:hover {
    background-color: #202a3f;
  }
}
.dbg {
  background-color: #161b25;
}
.vdatetime-popup__header,
.vdatetime-time-picker__item--selected,
.vdatetime-popup__actions__button,
.vdatetime-calendar__month__day--selected > span > span {
  background: #161b25;
  color: #cccccc;
  &:hover {
    background-color: #202a3f;
    color: #647af8;
  }
}
</style>
