<template>
  <div id="cardcontainer">
    <div class="rounded overflow-hidden shadow-lg mx-auto my-6 md:mt-0">
      <div
        class="stitle text-3xl py-2 font-bold text-blue-500 border-blue-500 border-solid border-b flex justify-center"
      >
        <div
          class="service_text mx-6"
          style="text-shadow: 0 0 15px rgba(0,100,255, 0.5)"
        >
          Staff Details
        </div>
      </div>
      <div :key="stage">
        <div class="w-full service_one flex flex-col dbg items-center">
          <div class="s_name font-extrabold text-xl text-gray-400">
            ID: {{ user.role }} - {{ user.staff_id }}
          </div>
          <div class="s_price font-extrabold text-green-500">
            Salary: ₹ {{ user.salary }}
          </div>
          <div class="s_desc text-yellow-500">
            Started on: {{ date_r(user.started_on) }}
          </div>

          <div
            class="staff_header  w-full pt-2 text-blue-600 font-bold py-1 pr-4 flex justify-between items-center cursor-pointer"
          >
            <div class="staff_name flex items-center ml-3">
              <div class="mr-3"></div>
              Service
            </div>
            <div class="staff_ex">
              Exp
            </div>
          </div>
          <div class="staffs scrollbar w-full">
            <div
              v-for="s in user.experiences"
              :key="s.service_id"
              class="py-2 px-4 flex justify-between items-center cursor-pointer"
              :class="{ 'bg-gray-900': !(s.service_id % 2) }"
            >
              <div class="staff_name flex items-center">
                <div class="mr-3"></div>
                {{ s.name }}
              </div>
              <div class="staff_ex">
                {{ s.experience }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
// import { mapState } from "vuex";
export default {
  name: "staff-card",
  methods: {
    gotoStage0() {
      this.stage = 0;
    },
    date_r(d) {
      const date = new Date(d * 1000);
      return date.toLocaleDateString();
    }
  },
  components: {},
  data: () => ({
    stage: 0
  }),
  // computed: mapState(["services", "currService"]),
  computed: {
    user() {
      return {
        ...this.$store.state.user
      };
    }
  },
  mounted() {}
};
</script>
