<template>
  <div id="cardcontainer">
    <div class="max-w-sm rounded overflow-hidden shadow-lg mx-auto">
      <div class="px-6 pt-4 mb-2">
        <img class="w-32 mx-auto mb-2" :src="userDp" alt="me" />
        <div class="text-blue-500 font-bold text-3xl">{{ user.fullname }}</div>
        <p class="text-gray-700 text-base">
          {{ user.email }}
        </p>
        <p class="text-gray-700 text-base">
          {{ user.phone_no }}
        </p>
      </div>
      <div class="px-6 pb-4">
        <span
          class="inline-block bg-gray-800 my-1 rounded-full px-3 py-1 text-sm font-semibold text-gray-400 mr-2"
          >Age {{ user.age }}</span
        >
        <span
          class="inline-block bg-gray-800 my-1 rounded-full px-3 py-1 text-sm font-semibold text-gray-400 mr-2 capitalize"
          >{{ user.gender }}</span
        >
      </div>
    </div>
    <router-link
      to="/bookings"
      class="mt-6 bg-blue-700 inline-block shadow-lg rounded px-6 py-2 font-extrabold text-gray-400"
    >
      {{ bookingmsg }}
    </router-link>
  </div>
</template>

<script>
export default {
  name: "user-profile-card",
  // props: ["user"],
  computed: {
    user() {
      return {
        fullname: this.$store.getters.userFullName,
        ...this.$store.state.user,
        gender: this.$store.getters.userGender
      };
    },
    userDp() {
      let gender = this.user.gender;
      return `https://avatars.dicebear.com/v2/${gender}/beautr_${this.user.customer_id}.svg`;
    },
    bookingmsg() {
      return this.user.type === "customer"
        ? "View my bookings"
        : "View appointments";
    }
  },
  mounted() {
    this.$store
      .dispatch("GETSELF")
      .then(() => {
        console.log("Loaded user");
      })
      .catch(() => {
        console.log("Error loading user. Redirecting to home");
        this.$store.commit("SETLOGGEDIN", false);
        this.$router.push("/");
      });
  }
};
</script>
