<template>
  <div id="app">
    <div id="nav">
      <router-link to="/" class="logo">BEAUTR</router-link>
      <transition name="fade">
        <div v-if="requesterr" class="errmsg fixed mt-16 px-4 py-2">
          <div
            class="p-2 bg-red-600 items-center text-indigo-100 leading-none rounded-full flex lg:inline-flex"
            role="alert"
          >
            <span
              class="flex rounded-full bg-red-500 uppercase px-2 py-1 text-xs font-bold mr-3"
              >Error</span
            >
            <span class="font-semibold mr-2 text-left flex-auto"
              >{{ requesterr }}
            </span>
          </div>
        </div>
      </transition>
      <div class="nav-items">
        <!-- <router-link to="/">Home</router-link> -->
        <!-- <router-link to="/about"> | About</router-link> -->
        <a v-promise-btn v-if="loggedIn" @click="logOut"> Logout </a>
      </div>
    </div>
    <transition name="fade">
      <router-view />
    </transition>
  </div>
</template>

<script>
// @ is an alias to /src

export default {
  name: "app",
  computed: {
    loggedIn() {
      return this.$store.getters.loggedIn;
    },
    requesterr() {
      return this.$store.state.requesterr;
    }
  },
  methods: {
    logOut() {
      return this.$store.dispatch("LOGOUT").then(() => {
        this.$router.push("/");
      });
    }
  }
};
</script>

<style lang="scss">
@import url("https://fonts.googleapis.com/css?family=Lato:400,900&display=swap");
body {
  // background: #5d88b1;
  background: #1f2b36;
}
#app {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  // font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding-top: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  .logo {
    display: inline;
    font-size: 2em;
    font-weight: 900;
    letter-spacing: 7px;
    color: #4d6f90;
  }
  a {
    font-weight: bold;
    color: #4d6f90;
    cursor: pointer;

    &.router-link-exact-active {
      color: #4299e1;
    }
  }
}

// Fade transition
.fade-enter-active,
.fade-leave-active {
  transition-property: opacity, transform;
  transition-duration: 200ms;
}
.fade-enter-active {
  transition-delay: 0.15s;
}
.fade-enter,
.fade-leave-active {
  opacity: 0;
  // transform: translateY(10px);
  transform: scale(0.95);
}

// Fade-slide transition for v-iffed components
.fadestaff-enter-active,
.fadestaff-leave-active {
  transition-property: all;
  transition-duration: 200ms;
  transition-timing-function: ease-out;
}
.fadestaff-enter {
  opacity: 0;
  transform: translateX(20px);
}
.fadestaff-leave-active {
  opacity: 0;
  transform: translateX(-20px);
}
</style>
